.attendee-list-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    width: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.5);
    filter: grayscale(1);
    overflow: hidden;

    .profile {
        width: 100%;
    }

    &.signed-in {
        filter: grayscale(0);
    }

    >div:first-of-type {
        padding-inline: 10px;
        padding-block: 5px;

        >div:first-of-type {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: lightgrey;
        cursor: pointer;
    }

    .name {
        font-weight: bold;
    }

    &.signed-in {
        background: #45ec9c;
    }

}