.attendee-list-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    width: 185px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.5);
    filter: grayscale(1);
    overflow: hidden;

    .profile {
        width: 100%;
    }

    &.signed-in {
        filter: grayscale(0);
    }

    & .attendee-details {
        display: flex;
        padding-inline: 10px;
        padding-block: 5px;

        > div:first-child{
            flex-grow: 1;
        }

        .name {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
}