.team-list {
    display: flex;
    gap: 10px;
    padding: 10px;

    .team-info {
        margin: 5px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    > .team-info {
        .name {
            font-size: 50px;
        }
    }

    .problem {
        font-size: 24px;
        color: white;
    }
}