body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100dvh;
    background: radial-gradient(circle at top left, rgba(132, 79, 232, 1) 0%, rgba(85, 44, 234, 1) 40%, rgba(15, 18, 123, 1) 100%) 0 0;
    font-family: 'Gill Sans MT', sans-serif;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
